{% extends "layout.html" %}
{% block body %}

<table>
    <tr><td colspan=3>
      <img src='/static/flask.JPG'/>
    </td></tr>
    <tr>
        <td>Qty</td>
        <td>Description</td>
        <td>Price</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Stylish Hip Flask</td>
        <td>$100.00</td>
    </tr>

</table>      

<ul>
    <li><a href="{{ url_for('paypal_express_checkout') }}">Express Checkout</a></li>
    <li><a href="{{ url_for('paypal_direct_payments') }}">Direct Payments</a></li>
</ul>
{% endblock %}
